// color

:root {
  --primary-text-color: #111518;
  --header-menu-text-color: #b9b9b9;
  --all-orange-color: #ff6b09;
  --all-white-color: #ffffff;
  --background-mobile-menu: rgba(34, 34, 34, 0.94);
  --background-mobile-menu-button: rgba(34, 34, 34, 0);
  --red-invalid-input: #ff0000;
  --box-shadow-color: rgba(0, 0, 0, 0.04);
}

// font family

$primary_FontFamily: Montserrat, sans-serif;
