<section class="contacts">
    <div class="container contacts__container">
       <h2 id="contacts" class="contacts__title">Registration for a <span class="contacts__accent">free</span> phone <span
            class="contacts__accent">consultation</span> on the nuances of English UPE</h2>
       <p class="contacts__description">Leave a request for participation in a <span class="contacts__accent-description">free lesson</span>.</p>
       <p class="contacts__description">A consultant will contact you and answer your questions</p>
       <form class="contacts__form">
        <input class="contacts__input" name="user-name" type="text" placeholder="Name*" pattern="[A-Za-z' -]+" required minlength="2">
        <input class="contacts__input" name="user-phone" type="tel" placeholder="Phone*" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="095-111-11-11" required>
        
        <button type="submit" class="contacts__button">i want a free lesson</button>
       </form>
    </div>
</section>
  