<footer class="footer">
        <div class="footer__container container">
            <div class="footer__wrapper">
                    <ul class="footer__list-logo list">
                        <li class="footer__list-item-logo header-container__item-logo">Hell <span class="header-container__second-part">EN</span>
                            <svg class="header__fire">
                                <use href="./images/svg/sprite.svg#icon-logo"></use>
                            </svg>
                        </li>
                        <li class="footer__list-item-logo header-container__item-logo_second ">hellish <span class="header-container__second-word ">english</span>
                        </li>
                    </ul>
                    <ul class="footer__list-contacts list">
                        <li class="footer__list-item-contacts">
                            <a class="footer__list-tell-link" href="tel:+380000000000">
                                    <svg class="footer__list-tell-icon">
                                        <use href="./images/svg/sprite.svg#icon-phone"></use>
                                    </svg>
                                +38 (000) 000 00 00
                            </a></li>
                            <li class="footer__list-item-contacts"><a class="footer__instagram" href="https://www.instagram.com/"></a>
                        </li>
                    </ul>
            </div>
        </div>
        <div class="footer__copyright-wrapper ">
            <div class="footer__copyright-container container"><p class="footer__copyright">&#64; All rights reserved, 2019</p></div>
        </div>
</footer>