<header>
    <div class="header-container container">
        <ul class="header-container__list-logo">
            <li class="header-container__item-logo">Hell <span class="header-container__second-part">EN</span>
                <svg class="header__fire">
                    <use href="./images/svg/sprite.svg#icon-logo"></use>
                </svg>
            </li>
            <li class="header-container__item-logo_second ">hellish <span class="header-container__second-word ">english</span></li>
        </ul>
        <ul class="header-container__list-menu">
            <li class="header-container__item-menu"><a href="#program" class="header-container__link">Studying program</a></li>
            <li class="header-container__item-menu"><a href="#about" class="header-container__link ">about</a></li>
            <li class="header-container__item-menu"><a href="#options" class="header-container__link">training options</a></li>
            <li class="header-container__item-menu"><a href="#contacts" class="header-container__link">contacts</a></li>
        </ul>
        <a href="#contacts" class="header-container__button">consultation by phone</a>
        <button type="button" class="header-mobile__menu" data-menu-button>
            <svg class="header-mobile__icon">
                <use href="./images/svg/sprite.svg#icon-menu-mobl"></use>
            </svg>
        </button>
        <div class="mobile-menu" data-menu>
            <div class=" mobile-menu__container">
                <ul class="header-container__list-logo">
                    <li class="header-container__item-logo_white header-container__item-logo">Hell <span class="header-container__second-part_white header-container__second-part">EN</span>
                        <svg class="header__fire">
                            <use href="./images/svg/sprite.svg#icon-logo"></use>
                        </svg>
                    </li>
                    <li class="header-container__item-logo_second">hellish <span class="header-container__second-word_white header-container__second-word">english</span>
                    </li>
                </ul>
                <button type="button" class="mobile-menu__close-btn" data-menu-close>
                    <svg class="mobile-menu__icon-close">
                        <use href="./images/svg/sprite.svg#close-mobl-menu"></use>
                    </svg>
                </button>
            <div class="mobile-menu__container_center">
                <ul class="mobile-menu__list-menu">
                    <li class="mobile-menu__item-menu"><a href="#program" class="mobile-menu__link">Studying program</a></li>
                    <li class="mobile-menu__item-menu"><a href="#about" class="mobile-menu__link">About</a></li>
                    <li class="mobile-menu__item-menu"><a href="#options" class="mobile-menu__link">Training options</a></li>
                    <li class="mobile-menu__item-menu"><a href="#contacts" class="mobile-menu__link">Contacts</a></li>
                </ul>
                <button type="button" class="mobile-menu__button">consultation by phone</button>
            </div>
            </div>
        </div>
    </div>
</header>