<div class="hero container">
    <h1 class="hero__title">Complex preparation for English UPE</h1>
    <p class="hero__text"> 
        <span class="hero__text_gray">It won’t be easy. <br> </span> 
        <span class="hero__text_black">But you are guaranteed to get</span>
        <span class="hero__text_orange">+25 points</span>
    </p>
       <button  data-modal-open type="button" class="hero__button">i want a free lesson</button>
        <picture class="hero__picture">
            <source srcset="./images/hero/desktop/hero_webp.webp 1x, ./images/hero/desktop/hero@2x_webp.webp 2x"
                media="(min-width: 1366px)" type="image/webp">
            <source srcset="./images/hero/desktop/hero.jpg 1x, ./images/hero/desktop/hero@2x.jpg 2x"
                media="(min-width: 1366px)">
            <source srcset="./images/hero/tablet/hero_webp.webp 1x, ./images/hero/tablet/hero@2x_webp.webp 2x"
                media="(min-width: 768px)" type="image/webp">
            <source srcset="./images/hero/tablet/hero.jpg 1x, ./images/hero/tablet/hero@2x.jpg 2x" media="(min-width: 768px)">
            <source srcset="./images/hero/mobile/hero_webp.webp 1x, ./images/hero/mobile/hero@2x_webp.webp 2x"
                media="(min-width: 0px)" type="image/webp">
            <source srcset="./images/hero/mobile/hero.jpg 1x, ./images/hero/mobile/hero@2x.jpg 2x" media="(min-width: 320px)">
            <img class="hero__image" src="./images/hero/desktop/hero.jpg" alt="command meeting">
        </picture>
</div>