<section class="section problems">
    <div class=" container problems__container">
        <h2 id="options" class="problems__title problems__title-tablet"> The main problems of students <br> in English  UPE , which <br> we <span class="problems__title-accent"> help </span>to solve</h2>
        <div class="problems__position">
        <ul class="problems__list list">
            <li class="problems__item">Grammar</li>
            <li class="problems__item">Inability to understand spoken English</li>
            <li class="problems__item">Stingy vocabulary for writing an essay</li>
            <li class="problems__item">Preparing alone</li>
            <li class="problems__item">Lack of a single knowledge resource</li>
            <li class="problems__item">Lack of self-organization and laziness</li>
        </ul></div>
    </div>
    
</section>