<section class="program">
  <div class="program__border">
    <h2 id="program" class="program__heading container">Our program</h2>
  </div>
  <div class="container program__container">
    <ul class="program__primary-list">
      <li class="program__list">
        <h3 class="program__schedule">1 semester</h3>
        <ul class="program__secondary-list">
          <li>
            <h4 class="program__direction">&#9866; Grammar</h4>
            <ul>
              <li>
                <p class="program__item">Nouns & Articles</p>
              </li>
              <li>
                <p class="program__item">Adjectives & Adverb</p>
              </li>
            </ul>
          </li>
          <li>
            <h4 class="program__direction">&#9866; Vocabulary</h4>
            <ul>
              <li>
                <p class="program__item">Family & Relations</p>
              </li>
              <li>
                <p class="program__item">People & Society</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__list">
        <h3 class="program__schedule">2 semester</h3>
        <ul class="program__secondary-list">
          <li>
            <h4 class="program__direction">&#9866; Grammar</h4>
            <ul>
              <li>
                <p class="program__item">Pronouns</p>
              </li>
              <li>
                <p class="program__item">Active Voice</p>
              </li>
              <li>
                <p class="program__item">Passive Voice</p>
              </li>
            </ul>
          </li>
          <li>
            <h4 class="program__direction">&#9866; Vocabulary</h4>
            <ul>
              <li>
                <p class="program__item">Home</p>
              </li>
              <li>
                <p class="program__item">School</p>
              </li>
              <li>
                <p class="program__item">Work</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__list">
        <h3 class="program__schedule">3 semester</h3>
        <ul class="program__secondary-list">
          <li>
            <h4 class="program__direction">&#9866; Grammar</h4>
            <ul>
              <li>
                <p class="program__item">Modal verbs</p>
              </li>
              <li>
                <p class="program__item">Infinitive</p>
              </li>
              <li>
                <p class="program__item">Gerund</p>
              </li>
              <li>
                <p class="program__item">Participle: 1, 2</p>
              </li>
            </ul>
          </li>
          <li>
            <h4 class="program__direction">&#9866; Vocabulary</h4>
            <ul>
              <li>
                <p class="program__item">Travel & Tourism</p>
              </li>
              <li>
                <p class="program__item">Culture & Free Time</p>
              </li>
              <li>
                <p class="program__item">Sport</p>
              </li>
            </ul>
          </li>
          <li class="program__margin">
            <h4 class="program__direction program__margin">&#9866; Writing</h4>
            <ul class="program__margin">
              <li>
                <p class="program__item program__margin">Informal Letter</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__list">
        <h3 class="program__schedule">4 semester</h3>
        <ul class="program__secondary-list">
          <li>
            <h4 class="program__direction">&#9866; Grammar</h4>
            <ul>
              <li>
                <p class="program__item">Conditional and Wishes</p>
              </li>
              <li>
                <p class="program__item">Direct / Reported speech</p>
              </li>
              <li>
                <p class="program__item">Preposition</p>
              </li>
              <li>
                <p class="program__item">Conjunction</p>
              </li>
              <li>
                <p class="program__item">Numeral</p>
              </li>
            </ul>
          </li>
          <li>
            <h4 class="program__direction">&#9866; Vocabulary</h4>
            <ul>
              <li>
                <p class="program__item">Healthy Living</p>
              </li>
              <li>
                <p class="program__item">Nature & Environment</p>
              </li>
              <li>
                <p class="program__item">Money</p>
              </li>
            </ul>
          </li>
          <li class="program__margin">
            <h4 class="program__direction program__margin">&#9866; Writing</h4>
            <ul class="program__margin">
              <li>
                <p class="program__item program__margin">Formal Letter</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__list">
        <h3 class="program__schedule">5 semester</h3>
        <ul class="program__secondary-list">
          <li>
            <h4 class="program__direction">&#9866;</h4>
            <ul>
              <li>
                <p class="program__item">Revision</p>
              </li>
              <li>
                <p class="program__item">Tests</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <picture class="program__image">
      <source
        srcset="./images/program/laptop.webp 1x, ./images/program/laptop@2x.webp 2x"
        media="(min-width: 1366px)"
        type="image/webp"
      />
      <source
        srcset="./images/program/laptop.jpg 1x, ./images/program/laptop@2x.jpg 2x"
        media="(min-width: 1366px)"
      />
      <source
        srcset="./images/program/tablet.webp 1x, ./images/program/tablet@2x.webp 2x"
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="./images/program/tablet.jpg 1x, ./images/program/tablet@2x.jpg 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/program/mobile.webp 1x, ./images/program/mobile@2x.webp 2x"
        media="(max-width: 767px)"
        type="image/webp"
      />
      <source
        srcset="./images/program/mobile.jpg 1x, ./images/program/mobile@2x.jpg 2x"
        media="(max-width: 767px)"
      />
      <img src="./images/program/mobile.jpg" alt="studying" />
    </picture>
    <h2 class="benefits__title">
      Why do people <br />
      choose us
    </h2>
  </div>
  <div class="benefits">
    <div class="container benefits__position">
      <ul class="benefits__list list">
        <li class="benefits__item">Training in small groups</li>
        <li class="benefits__item">Rendered notes</li>
        <li class="benefits__item">Each lesson has a goal and a specific result</li>
        <li class="benefits__item">The real results of the teacher</li>
        <li class="benefits__item">
          The course program meets the requirements of the MES of Ukraine
        </li>
        <li class="benefits__item">Set of groups by level of knowledge</li>
      </ul>
    </div>
  </div>
</section>
