.advantages {
  padding-top: 30px;
  padding-bottom: 44px;
}

.advantages__container {
  margin: 0 auto;
  width: 216px;
}

.advantages__list {
  min-width: 216px;
}

.advantages__item {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.65;
  letter-spacing: 0.08em;
}

.advantages__item::before {
  display: inline-block;
  content: ' ';

  min-height: 60px;
  min-width: 60px;
  background-repeat: no-repeat;
  background-position: center;

  margin-right: 10px;
}

.student::before {
  background-image: url('../images/svg/advantages-student.svg');
}

.mobile::before {
  background-image: url('../images/svg/advantages-mobile_learning.svg');
}

.insurance::before {
  background-image: url('../images/svg/advantages-insurance.svg');
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__container {
    width: 688px;
  }

  .advantages__list {
    display: flex;
  }

  .advantages__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1366px) {
  .advantages {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .advantages__container {
    width: 1344px;
  }

  .advantages__item {
    width: 366px;
    font-size: 20px;

    &::before {
      margin-right: -10px;
      min-height: 102px;
      min-width: 100px;
    }
  }

  .advantages__item:not(:last-child) {
    margin-right: 120px;
  }
}
