.benefits {
  background-color: var(--all-white-color);
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  @media screen and (max-width: 767px) {
    bottom: -240px;
  }
  @media screen and (min-width: 768px) and (max-width: 1365px) {
    bottom: -250px;
  }
  @media screen and (min-width: 1366px) {
    bottom: -210px;
  }
}
.benefits__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-align: left;
  padding-top: 50px;
  color: var(--all-white-color);
  background-color: var(--primary-text-color);

  @media screen and (max-width: 767px) {
    padding-left: 15px;
  }

  @media screen and (min-width: 768px) {
    text-align: center;
    padding-top: 190px;
  }
}
.benefits__title br {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.benefits__item {
  text-align: left;
  width: 236px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;

  letter-spacing: 0.08em;
}

.benefits__list {
  counter-reset: benefits__list;
}

.benefits__item::before {
  display: flex;
  counter-increment: benefits__list 01;

  content: '\268A  0'counter(benefits__list);
  color: var(--all-orange-color);
}

.benefits__position {
  min-height: 638px;
  padding: 50px;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

@media screen and (max-width: 767px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 36px;
  }

  .benefits__item:not(:last-child)::before {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__title {
    font-size: 26px;
    line-height: 1.3;
  }

  .benefits__position {
    width: 688px;
    min-height: 394px;
    padding: 35px 100px;
  }
  .benefits__list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 20px;
  }
}

@media screen and (min-width: 1366px) {
  .benefits__title {
    display: none;
  }

  .benefits__item {
    width: 356px;

    font-size: 20px;
  }

  .benefits__position {
    width: 1314px;
    min-height: 398px;
    padding: 70px;
  }

  .benefits__list {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
