.guarantee {
  &__title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.3;

    text-align: center;
    letter-spacing: 0.03em;
  }
  &__box {
    margin-top: 30px;
    background-color: #f1f1f1;
    padding-bottom: 50px;
    padding-top: 30px;
  }
  &__list {
    margin: 0 20px;
  }

  &__item {
    position: relative;

    padding-left: 20px;
    padding-bottom: 20px;
    border-left: 1px dashed #e9e9e9;
  }
  &__item:last-child {
    border-left: none;
  }
  &__item::before {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);

    display: block;
    content: url(../images/svg/icon-for-guarantee-min.svg);

    width: 15px;
    height: 20px;
  }
  &__about {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;

    color: #3d3d3d;
  }
  &__span {
    color: var(--all-orange-color);
  }
}
@media screen and (min-width: 768px) {
  .guarantee__box {
    padding-left: 79px;
  }
}

@media screen and (min-width: 1366px) {
  .guarantee__conteiner {
    width: 1366px;
    margin: 0 auto;
    padding-left: 20px;
  }
  .guarantee__box {
    padding: 50px 112px;
  }
  .guarantee__title {
    font-size: 46px;
    line-height: 1.3;
    margin-bottom: 50px;
  }
  .guarantee__about {
    font-size: 20px;
    line-height: 1.4;
  }
}
